{{#if icon-left}}
  {{#if iconLeftIsImage}}
    <img
      src={{icon-left}}
      alt="icon left"
      class="sc-button__icon sc-button__icon--left sc-button__icon--image"
    >
  {{else}}
    <ScMdIcon
      @icon={{icon-left}}
      class="sc-button__icon sc-button__icon--left"
    />
  {{/if}}
{{/if}}

{{#if icon}}
  {{#if iconIsImage}}
    <img src={{icon}} alt="icon" class="sc-button__icon sc-button__icon--image">
  {{else}}
    <ScMdIcon
      @icon={{icon}}
      class="sc-button__icon"
    />
  {{/if}}
{{else}}
  <span>{{yield}}</span>
{{/if}}

{{#if icon-right}}
  {{#if iconRightIsImage}}
    <img
      src={{icon-right}}
      alt="icon right"
      class="sc-button__icon sc-button__icon--right sc-button__icon--image"
    >
  {{else}}
    <ScMdIcon
      @icon={{icon-right}}
      class="sc-button__icon sc-button__icon--right"
    />
  {{/if}}
{{/if}}
