<h1>sc-md-icon</h1>
<p>You can use the sc-md-icon component to display a material design icon.</p>
<p>Icons can be found on the <a href="https://material.io/tools/icons" target="_blank" rel="noopener">material design site.</a></p>
{{#sc-component-demo title="Md Icon Default" as |demo|}}
  {{#demo.example}}
    {{sc-md-icon "account_circle"}}
    {{sc-md-icon "check_circle"}}
    {{sc-md-icon "schedule"}}
    {{sc-md-icon "arrow_back"}}
    {{sc-md-icon "arrow_forward"}}
  {{/demo.example}}
  {{#demo.code}}
    {{#docs-snippet name="icon_default"}}
      {{sc-md-icon "account_circle"}}
      {{sc-md-icon "check_circle"}}
      {{sc-md-icon "schedule"}}
      {{sc-md-icon "arrow_back"}}
      {{sc-md-icon "arrow_forward"}}
    {{/docs-snippet}}
  {{/demo.code}}
{{/sc-component-demo}}
